.hitooltip {
    border-radius: 4px;
    box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    position: fixed;
    background: #333333;
    color: white;
    max-width: 400px;
    opacity: 0;
    padding: 4px 6px 4px 6px;
    pointer-events: none;
    transition: all ease-in-out 0.25s;
    visibility: hidden;
    width: auto;
    z-index: 999999;
}
.hitooltip.hitooltip-shown {
    opacity: 1;
    transition: all ease-in-out 0.25s;
    visibility: visible;
}
.hitooltip[data-hitooltip-position=left] .hitooltip-content::before {
    border-color: transparent transparent transparent #333333;
    border-width: 6px 0 6px 6px;
    right: -5px;
    top: calc(50% - 6px);
}
.hitooltip[data-hitooltip-position=right] .hitooltip-content::before {
    border-color: transparent #333333 transparent transparent;
    border-width: 6px 6px 6px 0;
    left: -5px;
    top: calc(50% - 6px);
}
.hitooltip[data-hitooltip-position=top] .hitooltip-content::before {
    border-color: #333333 transparent transparent transparent;
    border-width: 6px 6px 0 6px;
    left: 50%;
    bottom: -5px;
    transform: translate(-100%, 0);
}
.hitooltip[data-hitooltip-position=bottom] .hitooltip-content::before {
    border-color: transparent transparent #333333 transparent;
    border-width: 0 6px 6px 6px;
    left: 50%;
    top: -5px;
    transform: translate(-50%, 0);
}
.hitooltip .hitooltip-content {
    display: inline-block;
    text-transform: none;
    font-size: 13px;
    font-weight: 800;
    height: 100%;
    line-height: 1;
    user-select: none;
    width: 100%;
}
.hitooltip .hitooltip-content::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
.hitooltip .hitooltip-content .hitooltip-header {
    display: block;
    height: auto;
    white-space: nowrap;
    width: 100%;
}
.hitooltip .hitooltip-content .hitooltip-header .hitooltip-img {
    display: inline-block;
    max-height: 96px;
    max-width: 96px;
}
.hitooltip .hitooltip-content .hitooltip-header .hitooltip-h1 {
    display: inline-block;
    font-size: 1.2rem;
}
.hitooltip .hitooltip-content hr {
    margin: 0;
}
.hitooltip .hitooltip-content .hitooltip-text {
    font-size: 0.75rem;
    font-weight: 800;
    font-family: Helvetica, sans-serif;
    margin: 8px 0;
    white-space: normal;
    height: auto;
    overflow: hidden;
    line-height: 1rem;
    text-overflow: ellipsis;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

